.index-container {
  background-color: #f6f7fa;

}

.book-button {
  /* Seus estilos de transição */
  color: #ffffff;
  background-color: #262626;
  border-color: #262626;
  border-radius: .25rem;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  width: 300px;
  text-align: center;
  padding: 16px;

  /* Centraliza horizontalmente e ajusta verticalmente conforme necessário */
  display: block;
  margin: 20px auto; /* Ajuste a margem superior e inferior conforme necessário */

}
