p {
 margin-left: 30%;
}

h2 {
  text-align: center;

}

.show-form h4 {
  text-align: left;
  margin: 24px 0;
  margin-left: 30%;
}

.show-footer {

  display: flex;
  justify-content:space-between;
  margin: 40px 25%;

}

.buttons-show-footer {
  display: flex;
  gap: 24px;
}
