.form-inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px 0 ;
  width: auto;
}

.devise-container {
  padding: 16px;

}

.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.edit-form-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}


.back-button {
  margin-left: 75%;
  padding: 16px;
}
