<nav>
  <ul class='app-header'>
    <li><%= link_to image_tag('logo_darkside.jpg', class:'logo-navbar', alt:'logo da darkside em extenso vermelho'), root_path %></li>
    <li><%= link_to 'CADASTRAR LIVRO', new_book_path %>
  </ul>
</nav>
