<!DOCTYPE html>
<html>
<head>
  <title>CHECKLIST</title>
  <!-- Inclua os cabeçalhos e estilos necessários para a formatação do PDF aqui -->
</head>
<body>
  <%= render 'books/show' %>
</body>
</html>
