.new-book-container {
  padding: 50px;

}

.new-book-container h2 {
  text-align: center;
}

.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-form input[type="number"]::-webkit-inner-spin-button,
.book-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Isso pode ser ajustado para definir o espaçamento entre o input e as bordas */
}

/* Para garantir que o estilo funcione em outros navegadores além do WebKit (Chrome, Safari) */
.book-form input[type="number"] {
  -moz-appearance: textfield;
}

.form-button {
  /* Seus estilos de transição */
  color: #ffffff;
  background-color: #262626;
  border-color: #262626;
  border-radius: .25rem;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;

  /* Centraliza horizontalmente e ajusta verticalmente conforme necessário */
  display: block;
  margin: 20px auto; /* Ajuste a margem superior e inferior conforme necessário */
}

/* Example using CSS Flexbox */
.item-flex-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next row when needed */
  gap: 20px; /* Adjust gap size as needed */
}

.item-flex-item {
  flex: 1; /* Distribute available space equally among items */
  border: 1px solid #ccc;
  padding: 10px;
  /* Add other styles as needed */
  max-width: 300px; /* Optionally limit the maximum width of each item */
}

.custom-select {
  width: 200px; /* Defina a largura desejada aqui */
}

.value-box {
  background-color: #f0f0f0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block; /* Makes the box inline so it doesn't break the layout */
}

.table div {
  margin-bottom: 0;
}

.decimal.optional.book_printing_prices_ipsis_price {
  margin-bottom: 0;
}
