<%= render 'navbar' %>


<h3>TODOS OS KIT BOOKS CADASTRADOS:</h3>

<div class="container">
  <div class="row">
    <% @kit_books.each do |kit_book| %>
        <div class="col-md-4 mb-4">
          <%= link_to "Kit Boook - #{kit_book.name}", kit_book_path(kit_book.id), style: 'text-decoration: none; align-self: center', class: 'book-button' %>
        </div>
     <% end %>
  </div>
</div>
