<!DOCTYPE html>
<html>
<head>
  <title>CHECKLIST</title>
  <!-- Inclua os cabeçalhos e estilos necessários para a formatação do PDF aqui -->
</head>
<body>
  <div class= "book-form-header">
    <%= image_tag('logo-dark-preta.png', class:'avatar-large') %>
   <h2><strong>CHECKLIST DE LANÇAMENTO</strong></h2>
  </div>
  <%= render 'show' %>
</body>
</html>
